{:kotoba.app/id "cloud.itonami.isic-3092", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreia4rl45rgi4kjpvxmd3wggwyimo7ipd6vkmultyqsrnbferagbeqe", :kotoba.app/embed-url "ipfs://bafkreia4rl45rgi4kjpvxmd3wggwyimo7ipd6vkmultyqsrnbferagbeqe", :published {:archive "https://kotobase.net/ipfs/bafkreia4rl45rgi4kjpvxmd3wggwyimo7ipd6vkmultyqsrnbferagbeqe", :size 72727, :put-status 201, :get-status 200, :at "2026-08-15T13:40:39.188Z"}}
